<form>
    <div class="container">      
      <h5 class="token" style="text-align: center;">Token Details</h5>
      <div class="mb-1" class="name">
      <label for="exampleInputName" class="form-label">Token Name*</label>
      <input type="token" class="form-control" id="exampleInputText">
        </div>
    <div class="mb-1" class="symbol">
      <label for="exampleInputToken" class="form-label">Token Symbol*</label>
      <input type="token" class="form-control" id="exampleInputText">
    </div>
    <div class="mb-1" class="decimals">
        <label for="exampleInput" class="form-label">Decimals*</label>
        <input type="number" class="form-control" id="exampleInputText">
      </div>
    <div>
        <a routerLink="/payment" class="btn btn-primary" role="button" data-bs-toggle="button">Next</a>
      </div>

    </div>
    </form>

    